* {
  margin: 0px;
  background-color: rgb(249, 250, 215);
}
.App {
  text-align: center;
}
.box {
  margin: 30px;
}
.list {
  margin: 20px;
}
button {
  margin: 2px;
  border: 0px;
  cursor: pointer;
}
button:active {
  color: rgb(206, 219, 85);
  border-radius: 10px;
}

input {
  border: 1px solid black;
}

.headLine {
  background-color: aquamarine;
  padding: 30px;
}
